
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Condensed', sans-serif;	
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	border-radius: 5px;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: gray;
}

.header {
	position: relative;
	width: 100%;
	height: 100vh;
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(photos/pupbataan.jpg);
	background-size: cover;
}

.text-box {
	width: 90%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

/*INDEX*/
.text-box h1 {
	font-size: 60px;
}
.text-box p {
	font-size: 60px;
}
.text-box hr {
	padding: 5px;
	background: yellow;
	color: yellow;
	outline: none;
}

.director img {
	margin-left: 30px;
	width: 200px;
}

.director h1 {
	margin-top: -260px;
	margin-left: 280px;
}

.director .a-message p {
	margin-left: 280px;
	margin-top: 30px;
	margin-right: 50px;
	text-align: justify;
	font-size: 18px;
	text-indent: 50px;
}

.director .b-message p {
	margin-top: 20px;
	margin-left: 30px;
	margin-right: 50px;
	text-align: justify;
	font-size: 18px;
	text-indent: 50px;
}

.director .signature h1{
	margin-left: 1000px;
	margin-top: 50px;
}

.director .signature p {
	margin-left: 1025px;
	margin-top: 0px;
}

.survey-program {
	position: relative;
	width: 100%;
	height: 15vh;
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(photos/div1.jpg);
	background-size: cover;
	margin-top: 40px;
}

.survey {
	color: white;
	font-size: 50px;
}

/*COURSES*/

.acco img {
	margin-top: 50px;
	width: 400px;
	margin-left: 70px;
}

.acco .bsa {
	margin-top: -250px;
	margin-left: 500px;
	font-size: 40px;
	text-decoration: underline;
}

.acco .bsa-def p {
	margin-right: 70px;
	margin-left: 500px;
	margin-top: 30px;
	text-align: justify;
	font-size: 18px;
	text-indent: 50px;
}

.acco .btn {
	margin-top: 20px;
	margin-left: 500px;
	display: block;
	border: 1px solid black;
	font-size: 20px;
	padding: 4px 15px;
	width: 750px;
	height: 35px;
	background-color: white;
	border-radius: 5px;
	cursor: pointer;
}

.acco .btn:hover {
	background-color: lightgray;
}

@media (max-width: 1300px) {

.director .signature h1{
	margin-left: 975px;
	margin-top: 50px;
}

.director .signature p {
	margin-left: 1000px;
	margin-top: 0px;
}

}

@media (max-width: 1280px) {
	
.director img {
	margin-left: 30px;
	width: 200px;
}

.director .signature h1{
	margin-left: 900px;
	margin-top: 50px;
}

.director .signature p {
	margin-left: 925px;
	margin-top: 0px;
}

/*bsa*/

.acco .btn {
	margin-top: 20px;
	margin-left: 500px;
	display: block;
	border: 1px solid black;
	font-size: 20px;
	padding: 4px 15px;
	width: 680px;
	height: 35px;
	background-color: white;
	border-radius: 5px;
	cursor: pointer;
}

.acco .btn:hover {
	background-color: lightgray;
}

}

@media (max-width: 1200px) {

.director .signature h1{
	margin-left: 825px;
	margin-top: 50px;
}

.director .signature p {
	margin-left: 850px;
	margin-top: 0px;
}

/*COURSES*/

.acco .btn {
	margin-top: 20px;
	margin-left: 500px;
	display: block;
	border: 1px solid black;
	font-size: 20px;
	padding: 4px 15px;
	width: 580px;
	height: 35px;
	background-color: white;
	border-radius: 5px;
	cursor: pointer;
}

.acco .btn:hover {
	background-color: lightgray;
}

}

@media (max-width: 1100px) {
	
	.header .text-box h1 {
		font-size: 40px;
}

	.header .text-box p {
		font-size: 40px;
}

	.aaccup img {
		width: 800px;
	}

.director .signature h1{
	margin-left: 725px;
	margin-top: 50px;
}

.director .signature p {
	margin-left: 750px;
	margin-top: 0px;
}

/*COURSES*/
.acco .btn {
	margin-top: 20px;
	margin-left: 500px;
	display: block;
	border: 1px solid black;
	font-size: 20px;
	padding: 4px 15px;
	width: 480px;
	height: 35px;
	background-color: white;
	border-radius: 5px;
	cursor: pointer;
}

.acco .btn:hover {
	background-color: lightgray;
}

}

@media (max-width:  1000px) {

	.director img {
	margin-left: 400px;
	width: 200px;
}

.director h1 {
	margin-top: 20px;
	margin-left: 350px;
}

.director .a-message p {
	margin-left: 80px;
	margin-top: 30px;
	margin-right: 50px;
	text-align: justify;
	font-size: 18px;
	text-indent: 50px;
}

.director .b-message p {
	margin-left: 80px;
	margin-top: 30px;
	margin-right: 50px;
	text-align: justify;
	font-size: 18px;
	text-indent: 50px;
}

.director .signature h1{
	font-size: 25px;
	margin-left: 550px;
	margin-top: 50px;
}

.director .signature p {
	margin-left: 585px;
	margin-top: 0px;
}

/*COURSES*/
.acco .btn {
	margin-top: 20px;
	margin-left: 500px;
	display: block;
	border: 1px solid black;
	font-size: 20px;
	padding: 4px 15px;
	width: 380px;
	height: 35px;
	background-color: white;
	border-radius: 5px;
	cursor: pointer;
}

.acco .btn:hover {
	background-color: lightgray;
}

}

@media (max-width: 900px) {
	
	.aaccup img {
		width: 600px;
	}

	.director img {
	margin-left: 350px;
	width: 200px;
}

.director h1 {
	margin-top: 20px;
	margin-left: 300px;
}

.director .signature h1{
	font-size: 25px;
	margin-left: 500px;
	margin-top: 50px;
}

.director .signature p {
	margin-left: 535px;
	margin-top: 0px;
}

/*COURSES*/

.acco img {
	margin-top: 50px;
	width: 350px;
	margin-left: 30px;
}

.acco .bsa {
	margin-top: 20px;
	margin-left:30px;
	font-size: 40px;
	text-decoration: underline;
}

.acco .bsa-def p {
	margin-left: 30px;
	margin-top: 30px;
	margin-right: 70px;
	text-align: justify;
	font-size: 18px;
	text-indent: 50px;
}

.acco .btn {
	margin-top: 20px;
	margin-left: 30px;
	display: block;
	border: 1px solid black;
	font-size: 20px;
	padding: 4px 15px;
	width: 750px;
	height: 35px;
	background-color: white;
	border-radius: 5px;
	cursor: pointer;
}

.acco .btn:hover {
	background-color: lightgray;
}

}

@media (max-width: 800px) {

	.director img {
	margin-left: 300px;
	width: 200px;
}

.director h1 {
	margin-top: 20px;
	margin-left: 250px;
}

.director .signature h1{
	font-size: 25px;
	margin-left: 400px;
	margin-top: 50px;
}

.director .signature p {
	margin-left: 435px;
	margin-top: 0px;
}

/*COURSES*/
.acco .btn {
	margin-top: 20px;
	margin-left: 30px;
	display: block;
	border: 1px solid black;
	font-size: 20px;
	padding: 4px 15px;
	width: 650px;
	height: 35px;
	background-color: white;
	border-radius: 5px;
	cursor: pointer;
}

.acco .btn:hover {
	background-color: lightgray;
}

}

@media (max-width: 750px) {
	.director img {
	margin-left: 275px;
	width: 200px;
}

.director h1 {
	margin-top: 20px;
	margin-left: 225px;
}

.director .signature h1{
	font-size: 25px;
	margin-left: 375px;
	margin-top: 50px;
}

.director .signature p {
	margin-left: 400px;
	margin-top: 0px;
}

/*COURSES*/

.acco .btn {
	margin-top: 20px;
	margin-left: 30px;
	display: block;
	border: 1px solid black;
	font-size: 20px;
	padding: 4px 15px;
	width: 650px;
	height: 35px;
	background-color: white;
	border-radius: 5px;
	cursor: pointer;
}

.acco .btn:hover {
	background-color: lightgray;
}

}


@media(max-width: 700px) {

	.header .text-box h1 {
		font-size: 30px;
	}

	.header .text-box p {
		font-size: 30px;
	}



.aaccup img {
	position: unset;
	width: 450px;
	margin-top: 10px;
	margin-left: 13px;
}

.director img {
	margin-left: 250px;
	width: 200px;
}

.director h1 {
	margin-top: 20px;
	margin-left: 200px;
}

.director .signature h1{
	font-size: 20px;
	margin-left: 360px;
	margin-top: 50px;
}

.director .signature p {
	margin-left: 370px;
	margin-top: 0px;
}

.survey-program {
	position: relative;
	width: 100%;
	height: 15vh;
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(photos/div1.jpg);
	background-size: cover;
	margin-top: 40px;
}

.survey {
	color: white;
	font-size: 40px;
}

/*COURSES*/

.acco .bsa {
	margin-top: 20px;
	margin-left:30px;
	font-size: 30px;
	text-decoration: underline;
}


.acco .btn {
	margin-top: 20px;
	margin-left: 30px;
	display: block;
	border: 1px solid black;
	font-size: 20px;
	padding: 4px 15px;
	width: 550px;
	height: 35px;
	background-color: white;
	border-radius: 5px;
	cursor: pointer;
}

.acco .btn:hover {
	background-color: lightgray;
}

}

@media (max-width:  600px) {
	.director img {
	margin-left: 200px;
	width: 200px;
}

.director h1 {
	margin-top: 20px;
	margin-left: 150px;
}

.director .signature h1{
	font-size: 20px;
	margin-left: 300px;
	margin-top: 50px;
}

.director .signature p {
	margin-left: 310px;
	margin-top: 0px;
}

.survey-program {
	position: relative;
	width: 100%;
	height: 15vh;
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(photos/div1.jpg);
	background-size: cover;
	margin-top: 40px;
}

.survey {
	color: white;
	font-size: 35px;
	margin-top: 5px;
}

/*COURSES*/

.acco .btn {
	margin-top: 20px;
	margin-left: 30px;
	display: block;
	border: 1px solid black;
	font-size: 20px;
	padding: 4px 15px;
	width: 500px;
	height: 35px;
	background-color: white;
	border-radius: 5px;
	cursor: pointer;
}

.acco .btn:hover {
	background-color: lightgray;
}

}

@media (max-width:  550px) {
	.director img {
	margin-left: 160px;
	width: 200px;
}

.director h1 {
	margin-top: 20px;
	margin-left: 110px;
}

.director .signature h1{
	font-size: 20px;
	margin-left: 250px;
	margin-top: 50px;
}		

.director .signature p {
	margin-left: 260px;
	margin-top: 0px;
}

/*COURSES*/

.acco .btn {
	margin-top: 20px;
	margin-left: 30px;
	display: block;
	border: 1px solid black;
	font-size: 20px;
	padding: 4px 15px;
	width: 440px;
	height: 35px;
	background-color: white;
	border-radius: 5px;
	cursor: pointer;
}

.acco .btn:hover {
	background-color: lightgray;
}

}