@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.background {
	position: relative;
	width: 100%;
	height: 100vh;
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url(../photos/pupbataan.jpg);
	background-size: cover;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	border-radius: 5px;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: gray;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 110px;
}

header img {
	width: 90px;
	margin-left: 20px;
	margin-top: 10px;
}
header h1 {
	font-family: 'Source Serif Pro', serif;
	margin-left: 120px;
	margin-top: -80px;
	color: maroon;
	font-weight: bold;
}
header p {
	font-family: 'Source Serif Pro', serif;
	font-weight: bold;
	color: black;
	margin-left: 120px;
}

.login {
	padding: 30px;
	position: fixed;
	margin-top: 200px;
	width: 300px;
	background: maroon;
	margin-left: 500px;
}

.login h1 {
	margin-bottom: 30px;
	text-align: center;
	color: white;
	font-family: 'Roboto Sans', sans-serif;
}

.login label {
	line-height: 40px;
	font-size: 17px;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

.login input {
	width: 250px;
	height: 30px;
	outline: none;
	border: none;
	border-radius: 5px;
	font-size: 17px;
}

.login .login_btn {
	margin-top: 20px;
	margin-left: 150px;
	width: 100px;
	height: 30px;
	background: yellow;
	border: none;
	border-radius: 10px;
	font-size: 15px;
}

.login .login_btn:hover {
	background: orange;
	color: white;
	cursor: pointer;
}

.login p {
	margin-top: -15px;
	color: white;
	text-decoration: underline;
	cursor: pointer;
}

.login p:hover {
	color: blue;
}

.register {
	padding: 30px;
	position: fixed;
	margin-top: 80px;
	width: 300px;
	background: maroon;
	margin-left: 500px;
}

.register h1 {
	margin-bottom: 30px;
	text-align: center;
	color: white;
	font-family: 'Roboto Sans', sans-serif;
}

.register label {
	line-height: 40px;
	font-size: 17px;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

.register input {
	width: 250px;
	height: 30px;
	outline: none;
	border: none;
	border-radius: 5px;
	font-size: 17px;
}

.register .login_btn {
	margin-top: 20px;
	margin-left: 150px;
	width: 100px;
	height: 30px;
	background: yellow;
	border: none;
	border-radius: 10px;
	font-size: 15px;
}

.register .login_btn:hover {
	background: orange;
	color: white;
	cursor: pointer;
}

.register p {
	margin-top: -15px;
	color: white;
	text-decoration: underline;
	cursor: pointer;
}

.register p:hover {
	color: blue;
}